body {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    margin: auto 20px;  
}
nav {
    width: 100vw;
    position: fixed;
    height: 50px;
    background-color: #4e4e4e;
    z-index: 1;
}
.nav {
    display: flex;
}
.first {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 25px;
    color: white;
    margin-top:  auto;
  }
.burger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px auto;
  }
ul {
    display: none;
    position: absolute;
    top: 50px; 
    right: 0;
    left: 0;
    background: #4e4e4e;
  }  
li {
    display: flex;
    align-items: center;
    flex-direction: column
}
.first:focus + ul {
    display: inline-block;
  }
.text-nav{
    display: flex;
    flex-direction: column; 
}
.text-nav a{
    font-size: 14px;
    line-height: 16px;
    text-decoration-style: none;
    color: white;
    margin-left: 50px; 
}
a {
    text-decoration: none;
    color: white;
}
.nav-logo { 
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.home {
    height: 100vh;
    margin: 0 auto;
    background: url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
}
.home-page-shadow {   
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);   
}
.home-page-container {
    display:flex;
    align-items: center;
    height: 100%;
}
.home-page-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 48%;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
}
h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white
}
h3 {
    font-weight: bold;
}
h4{
    font-size: 18px;   
}
h5 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 5%;
    text-align: left;
}
button {
    font-size: 18px;
    width: 164px;
    height: 41.39px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    transition: 1s all;  
}
.worker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 5% 0;
}
.worker-img {
    flex-shrink: none;
    width: 199px;
    height: 199px;
    background: url('https://picsum.photos/200');
    background-position: center;
    background-size: cover; 
    border-radius: 100%;
    margin: 5%;
}
.offer {
    background: #405D78;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
}
.box-container {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    width: 100%;   
}
.box-container > div:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.box {
    position: relative;
    background: #F1F1F1;
    transition: 1s all;    
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box-style {
    font-size: 24px;
    line-height: 28px;   
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer{
    background-color: #4e4e4e;
    margin: auto;
}
.foot {
    height: 50px;
    padding: 5%;    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    line-height: 26px;
}
.fa-ul { 
    margin-left: 0;
}
.circle {
    background: #E07A64;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
    .container {
        margin-left: 32px;
        width: 90%;
    }
    .first {
        display: none;
    }
    ul {
        display: inherit;
        position: unset;
    }
    .nav {
        width: 100vw;
        align-items: center;
        justify-content: space-between;   
    }
    .text-nav {
        flex-direction: row;
        align-items: center;
        flex: none;
    }
    .text-nav a{
        font-size: 18px;
        line-height: 21px;
        text-decoration-style: none;
        color: white;
        margin-right: 50px;
    }
    a {
        text-decoration: none;
        color: white 
    }
    .nav-logo { 
        color: white;
        font-weight: bold;
        font-size: 15px; 
    }
    h1 {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: white;
    }
    .worker-img {
        flex-shrink: 0;
        margin: 5%;
        display: flex;
    }
    .offer {
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .oferta:hover {
        color: black;
        border: 3px solid white;
        font-size: 18px;
        width: 164px;
        height: 41.39px;
        background-color: white; 
        color: black;
    }
    .home-page-text {
        height: 36%;
    }
    .worker {
        flex-direction: inherit;
        padding: 0%;
    }
    .worker:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }
    .worker:nth-of-type(even) .worker-img {
        margin-left: 58px;
    }  
    .worker:nth-of-type(odd) .worker-img {
        margin-right: 58px;
    }
    .box-container {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
        grid-row-gap: 16px;
        width: 100%;
    }
    .foot {
        padding: 2% 0%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .fa-facebook-square:hover {
        color: blue;
    }
    .fa-instagram:hover {
        color: #7c0c86;
    }
    .fa-twitter-square:hover {
        color: blue;
    }
    .fa-linkedin:hover {
        color: blue;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
    .box-container {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-column-gap: 2%;
        grid-row-gap: 3%;
        width: 100%;
    }
    .box:hover {
        transform: scale(1.05);
        }
    .offer {
        background: #405D78;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;
        height: 100%;
    }
}